.paginator-fz {
    color: gray;
    small {
        margin: 6px;
    }
    .fz-paginator-page-size-label {
        margin: 0 4px;
    }

    .fz-paginator-range-label {
        margin: 0 32px 0 24px;
    }
}

