  <ngx-search-bar-fz  [isFilterWithNotNull]="true" nameInput="name" [filterData]="filter" (data)="getData($event)" [title]="title" url="https://jsonplaceholder.typicode.com/posts" [isFilterMenu]="true">
    <ng-container filter>
      <input type="text" [(ngModel)]="filter.userId" placeholder="name"><br>
    </ng-container>
    <ng-container buttons>
    </ng-container>
  </ngx-search-bar-fz>

<div class="grid-fz">
  <div *ngFor="let item of items">
    <div>Json placeholder</div>
    <div>{{item.id}}</div>
    <div>{{item.title}}</div>
    <div>{{item.body}}</div>
  </div>
</div>

<ngx-paginator-fz></ngx-paginator-fz>
