<div class="ngx-select-fz" style="display: inline-block;position: relative;">
  <span (click)="toggle()" class="ngx-select-fz-text"
    >
    <!-- <ng-template #option let-values>
      Seleccione una opción
    </ng-template> -->
    <!-- <ng-container
      [ngTemplateOutlet]="templateOption || option"
      [ngTemplateOutletContext]="{ $implicit: value }"
    ></ng-container> -->
    <span #addContainer [innerText]="templateOption"></span>
    <svg [ngClass]="{'rotate': _isOpen}"
      [style.width]="size"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
    >
      <path
        d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
      />
    </svg>
  </span>
  <div [hidden]="!_isOpen">
    <div class="menu-option">
      <ng-content></ng-content>
    </div>
    <div (click)="toggle()" class="overlay"></div>
  </div>
</div>
